.footer__column-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
.footer__column-link:hover{
  opacity: 0.7;
}
