.resources__logo_content_strelka{
  width: 270px;
  height: 38px;
  background-image: url(../../../../images/logo/resources-strelka.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
