div{
  border: solid 1px red; /*!!!!*/
}
section, header{
  border: solid 1px green;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-wrap{
  flex-wrap: wrap;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;

  /* выше установили ограничения для секции */
}
.header_position_absolute{
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 600px; /*При 640 header__square-pic не вылезает при сжатии, потому что он привязан к верхней границе, а изменяется нижняя, а в брифе информация только о привязке к верхней*/
  max-height: 756px;
  width: 100vw;
  max-width: 1600px;
  min-width: 1100px;
 position: absolute;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo{
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 1;

}
.logo_place_header{
  background-image: url('../images/logo_place_header.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header__title{
  width: 730px;
  margin-left: 64px;
  z-index: 1;

}
.title_text{
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  align-self: flex-end;
  z-index: 1;

}
.header__subtitle_text{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;

}
.subtitle__link{
  color: #2f80ed;
  text-decoration: none;

}
.header__main-illustration{
  padding: 0;
  margin: 0;
  position: absolute;
  align-self: flex-end;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}
.description{
  margin-top: 100px;
  width: 80%;
  align-self: center;
}

.two-columns{
  justify-content: space-between;
}

.two-columns__main-text{

  min-width: 784px;
  width: 80%;

  align-items: flex-start;
  justify-content: space-between;
}

.two-columns__brief_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #2f80ed;
}

.two-columns_brief{
 width: 175px;
 justify-content: flex-start;
}

.two-columns__paragraph{
  margin-bottom: 30px;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph_text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:nth-of-type(3n){
  margin-bottom: 0;
}

.digits{
  margin-top: 100px;
  align-items: center;
}

.section-title{
  width: 60%;

}
.section-title__text{
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.section-subtitle{
  margin-top: 20px;
  width: 60%;

}
.section-subtitle__text{
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.table{
  justify-content: space-between;
  width: 1100px;
}
.table__cell{
  margin-top: 60px;
  width: 250px;
}
.table__heading{

  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
  padding: 0;
}
